# BOOTSTRAP ID user for container
UID=
GID=
DISPLAY=

#-------- AIRFLOW Environment Variables
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_EMAIL=admin@localhost
# Write here the secure password for airflow Web UI
AIRFLOW_ADMIN_PASSWORD=

#-------- AIRFLOW Alert Settings
ALERT_USERS_LIST_PATH=/home/gamma/env/alert_users.yaml

#-------- SMTP Settings
ALERT_SMTP_SERVER=mailhog
ALERT_SMTP_PORT=1025
ALERT_EMAIL_SENDER=donotreply@cosiflow.alert.errors.it
ALERT_LOG_PATH=/home/gamma/workspace/log/data_pipeline.log
AIRFLOW__SMTP__SMTP_STARTTLS=False
AIRFLOW__SMTP__SMTP_SSL=False

#-------- SMTP Settings for MailHog
MAILHOG_WEBUI_URL=http://localhost:8025

#-------- COSI Directory Structure
#-------- Base directories
COSI_DATA_DIR=/home/gamma/workspace/data
COSI_INPUT_DIR=/home/gamma/workspace/data/input
COSI_LOG_DIR=/home/gamma/workspace/log

#-------- Main data type directories
COSI_OBS_DIR=/home/gamma/workspace/data/obs
COSI_TRANSIENT_DIR=/home/gamma/workspace/data/transient
COSI_TRIGGER_DIR=/home/gamma/workspace/data/trigger
COSI_MAPS_DIR=/home/gamma/workspace/data/maps
COSI_SOURCE_DIR=/home/gamma/workspace/data/source